@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist';
}

.bg-primary{
    background-color: #FAFAFF;
}

.text-primary{
    color: #554640;
}

.text-green{
    color: #32965D;
}

.text-yellow{
    color: #FFED66;
}

.text-red{
    color: #FF5E5B;
}

.container{
    padding: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    column-gap: 50px;
    row-gap: 50px;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.movie-card{
    /* border: #554640 0.2px solid; */
    /* border-radius: 5px; */
    width: auto;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.32);
}

.movie-thumbnail{
    width: 100%;
    height: 295px;
    object-fit: cover;
}

.movie-details{
    padding: 10px;
}

.movie-title{
    text-decoration: none;
    display: block;
    color: #554640;
    padding: 10px 0;
    font-size: 25px;
}

.movie-rating, .info-rating{
    padding: 10px 0;
}

.movie-language{
    padding-bottom: 10px;
}

.movie-genre, .info-genre{
    padding-bottom: 10px;
}

.movie-genre ul, .info-genre ul {
    display: inline;
}

.movie-genre ul li, .info-genre ul li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: #554640 1px solid;
    border-radius: 3px;
    background-color: #554640;
    color: #FAFAFF;
    font-size: 14px;
}

.movie-runtime, .info-runtime{
    padding-bottom: 10px;
}

.movie-premered, .info-premered{
    padding-bottom: 10px;
}

.info-card{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    /* column-gap: 50px; */
    row-gap: 50px;
    min-height: 100vh;
}

.info-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-details{
    padding: 100px;
}

.info-title{
    font-size: 3rem;
    padding: 25px 0;
}

.info-language{
    padding-bottom: 10px;
}

.info-country{
    padding:  10px 0;
}

@media only screen and (max-width: 900px){
    .mgrid{
        display: grid;
        grid-template-columns: auto !important;
    }

    .info-details{
        padding: 50px !important;
    }

    .info-card{
        height: auto;
        /* padding: 50px !important; */
    }

    .reverce-grid{
        display: flex;
        flex-direction: column-reverse;
    }
}
